*{
    margin: 0;
}
nav{
    display: flex;
    height: 60px;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    align-items: center;
    background-color: #e9ebe3;
    color: white;
    font-size: 25px;
}
.social-icons{
    display: flex;
    gap: 20px;
    position: relative;
    left: 30px;
}
.social{
    width: 30px;
    height: 30px;
}
#intro{
        background-color: black;
}
.container{
    width: 60%;
    height: 670px;
    color: white;
    /* margin: auto auto 20px auto; */
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.personal-pic{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    float: right;
    margin-left: 30px;
}
.hi{
    font-size: 30px;
    padding: 10px;
}
p{
    line-height: 1.5;
    letter-spacing: 3px;
}
#about{
    padding: 20px;
    background-image: linear-gradient(to right , #1abc9c,#3498db );
    color: black;
}
.about{
    height: 550px;
    text-align: center;
    
}
.eg-con{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;

}

.proj-con{
    height: 1350px;
    background-image: linear-gradient(to right , #1abc9c,#3498db );
    text-align: center;
}
.mandrian,.tin,.portfolio{
        display: flex;
        gap: 70px;
        align-items: center;
        margin: 20px 20px 70px 20px;
}
.proj-des{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 30px;
    font-weight: bold;
}
#footer{
    background-color: #26C485;
}
.footer{
    height: 200px;
    padding: 50px;
    color: white;
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #41463D;
}
